h1{
    font-family: "Poppins";
    font-size: 32px;
    color: rgb(21, 101, 192);
    background-color: rgb(236, 239, 241);
    margin: 0;
    border-radius: 5px;
    border-width: 1px;
}

table , td , th{
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-collapse: collapse;
    border-color: #212121;
}

p1{
    color: #212121;
}

a{
    color: #303f9f
}

a:active{
    color: rgb(33, 33, 33);
}

a:hover{
    background-color: rgb(236, 239, 241);
    color: rgb(33, 33, 33);
}

a:visited{
    color: rgb(96, 125, 139);
}
